# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
src/lib/*
src/include/*
# Executables
*.exe
*.out
*.app
.vscode/settings.json
src/main
out/build
CMakeLists.txt
run.sh
.vscode/c_cpp_properties.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-abed27c26560cc8636f5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-31ed4ec2fae19fc320cc.json
build/.cmake/api/v1/reply/codemodel-v2-98f5810ac7570c5ce019.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-03-25T01-20-43-0955.json
build/.cmake/api/v1/reply/target-HackUSU-Debug-e3a9813ebff9da18b165.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
